---
http_interactions:
- request:
    method: get
    uri: https://stage.amee.com/data/home/energy/quantity/878854C275BC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authtoken:
      - 7xaj94uNzpKDnVswdfe+cvbyfFn3yqTA9TWYjLkP2okAGu96iA48Y+5uCBBTmsGaCmMFmQk5UY3TtpDSdWzCOsLS2qs1hzx6dNT4+rIr42I=
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 28 Nov 2011 00:50:38 GMT
      Content-Type:
      - application/json; charset=UTF-8
      Authtoken:
      - /GtLagog4PlDX3b2A4Hn4o5danNq168DLVLJpYM3+i5gyUWNO0eW9IRXPY02HuxqaGx9wJ+fd61ZPXeoEaZhCJDg8Xf959zqYHiHR2AntIo=
    body:
      encoding: UTF-8
      string: ! '{"apiVersion":"2.0","amount":{"unit":"kg/year","value":0},"amounts":{"amount":[{"perUnit":"year","unit":"kg","default":"true","value":0,"type":"CO2"}]},"path":"/home/energy/quantity/878854C275BC","userValueChoices":{"choices":[{"name":"currentReading","value":"0"},{"name":"energyConsumption","value":"0"},{"name":"greenTariff","value":""},{"name":"includesHeating","value":"false"},{"name":"lastReading","value":"0"},{"name":"massPerTime","value":"0"},{"name":"deliveries","value":""},{"name":"paymentFrequency","value":""},{"name":"season","value":""},{"name":"volumePerTime","value":"0"}],"name":"userValueChoices"},"dataItem":{"uid":"878854C275BC","startDate":"1970-01-01T00:00:00Z","dataCategory":{"uid":"A92693A99BAD","deprecated":false,"name":"Quantity","path":"quantity"},"itemValues":[{"itemValueDefinition":{"uid":"B5AC731EF1D5","name":"kgCO2
        Per Kg","fromData":true,"path":"kgCO2PerKg","fromProfile":false,"valueDefinition":{"uid":"F066E097D76D","environment":{"uid":"5F5887BCF726"},"created":"2007-07-27
        07:30:44.0","description":"","name":"kgCO2PerKg","valueType":"DECIMAL","modified":"2007-07-27
        07:30:44.0"},"drillDown":false},"perUnit":"","uid":"7071F0E96196","startDate":"1970-01-01T00:00:00Z","unit":"","name":"kgCO2
        Per Kg","value":"","path":"kgCO2PerKg","displayPath":"kgCO2PerKg","displayName":"kgCO2
        Per Kg"},{"itemValueDefinition":{"uid":"469C1AE4B79A","name":"kgCO2 Per KWh","fromData":true,"path":"kgCO2PerKWh","fromProfile":false,"valueDefinition":{"uid":"3EA39C552E81","environment":{"uid":"5F5887BCF726"},"created":"2007-07-27
        07:30:44.0","description":"","name":"kgCO2PerKWh","valueType":"DECIMAL","modified":"2007-07-27
        07:30:44.0"},"drillDown":false},"perUnit":"","uid":"1DFEF8E6D7E5","startDate":"1970-01-01T00:00:00Z","unit":"","name":"kgCO2
        Per KWh"[...]
[...]
