---
http_interactions:
- request:
    method: get
    uri: https://stage.amee.com/data/home/energy/quantity?itemsPerPage=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authtoken:
      - 7xaj94uNzpKDnVswdfe+cvbyfFn3yqTA9TWYjLkP2okAGu96iA48Y+5uCBBTmsGaCmMFmQk5UY3TtpDSdWzCOsLS2qs1hzx6dNT4+rIr42I=
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 28 Nov 2011 00:42:04 GMT
      Content-Type:
      - application/json; charset=UTF-8
      Authtoken:
      - /GtLagog4PlDX3b2A4Hn4o5danNq168DLVLJpYM3+i57EL1VlAnxL3/qFaS3kX+BM0tbuvWQBBqWipKXzMeKHi5+tZBGUzwv4TJkPWfT+Go=
    body:
      encoding: UTF-8
      string: ! '{"apiVersion":"2.0","dataCategory":{"uid":"A92693A99BAD","dataCategory":{"uid":"30BA55A0C472","deprecated":false,"name":"Energy","path":"energy"},"deprecated":false,"environment":{"uid":"5F5887BCF726","itemsPerFeed":10,"description":"","name":"AMEE","owner":"","path":"","itemsPerPage":10},"created":"2007-07-27
        07:30:44.0","name":"Quantity","path":"quantity","itemDefinition":{"uid":"212C818D8F16","environment":{"uid":"5F5887BCF726"},"created":"2007-07-27
        07:30:44.0","name":"Energy Quantity","drillDown":"type","modified":"2011-02-16
        08:00:50.0"},"modified":"2011-02-16 08:02:10.0"},"path":"/home/energy/quantity","children":{"pager":{"to":10,"lastPage":2,"nextPage":2,"items":12,"start":0,"itemsFound":10,"requestedPage":1,"currentPage":1,"from":1,"itemsPerPage":10,"previousPage":-1},"dataItems":{"label":"DataItems","rows":[{"uid":"878854C275BC","startDate":"","kgCO2PerKg":"","kgCO2PerKWh":"","source":"net
        CV RME-type Wells to wheels/European Commission/JRC 2006 http://ies.jrc.ec.europa.eu/our-activities/support-to-eu-policies/well-to-wheels-analysis/WTW.html","created":"2007-07-27
        09:49:32.0","path":"878854C275BC","endDate":"","label":"biodiesel","kgCO2PerLitre":"2.5","type":"biodiesel","modified":"2009-09-10
        10:08:00.0"},{"uid":"CFA7F3896189","startDate":"","kgCO2PerKg":"0.1215","kgCO2PerKWh":"0.0263","source":"http://www.defra.gov.uk/environment/business/reporting/pdf/20090717-guidelines-ghg-conversion-factors.xls","created":"2007-07-27
        09:49:32.0","path":"CFA7F3896189","endDate":"","label":"biomass","kgCO2PerLitre":"","type":"biomass","modified":"2009-09-10
        10:08:00.0"},{"uid":"A70149AF0F26","startDate":"","kgCO2PerKg":"2.5063","kgCO2PerKW[...]
