---
http_interactions:
- request:
    method: get
    uri: https://stage.amee.com/profiles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authtoken:
      - old_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ! '{"status":{"description":"The request requires user authentication","name":"Unauthorized","code":401,"uri":"http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2"}}'
  recorded_at: Fri, 03 Apr 2015 12:11:33 GMT
- request:
    method: post
    uri: https://stage.amee.com/auth/signIn
    body:
      encoding: UTF-8
      string: password=<AMEE_V2_PASSWORD>&username=<AMEE_V2_API_KEY>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 19 Jan 2012 02:37:47 GMT
      Content-Type:
      - application/xml; charset=UTF-8
      Authtoken:
      - 66RMPv4JHsc0nAsLamcVWLj7xkXR/y64cQ/lwvVpRbWMRS/TtCThi4bTwKw+0LwvfbyDIcSER04c5VoBAUBQQJkmPLvYdXi7Y77AvArD0t0=
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="no"?><Resources><SignInResource><Next>/auth</Next><User
        uid="58F26PHHLFEB"><Status>ACTIVE</Status><Type>STANDARD</Type><ApiVersion>2.0</ApiVersion><Locale>en_GB</Locale><TimeZone>UTC</TimeZone></User></SignInResource></Resources>
  recorded_at: Fri, 03 Apr 2015 12:11:33 GMT
- request:
    method: get
    uri: https://stage.amee.com/profiles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authtoken:
      - 66RMPv4JHsc0nAsLamcVWLj7xkXR/y64cQ/lwvVpRbWMRS/TtCThi4bTwKw+0LwvfbyDIcSER04c5VoBAUBQQJkmPLvYdXi7Y77AvArD0t0=
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 19 Jan 2012 02:37:47 GMT
      Content-Type:
      - application/json; charset=UTF-8
      Authtoken:
      - 66RMPv4JHsc0nAsLamcVWLj7xkXR/y64cQ/lwvVpRbWMRS/TtCThi4bTwKw+0LwvfbyDIcSER04c5VoBAUBQQJkmPLvYdXi7Y77AvArD0t0=
    body:
      encoding: UTF-8
      string: ! '{"apiVersion":"2.0","pager":{"to":10,"lastPage":5,"nextPage":2,"items":47,"start":0,"itemsFound":10,"requestedPage":1,"currentPage":1,"from":1,"itemsPerPage":10,"previousPage":-1},"profiles":[{"uid":"K4CC51L3WX0C","environment":{"uid":"5F5887BCF726"},"created":"2012-01-19
        02:28:12.0","name":"K4CC51L3WX0C","path":"K4CC51L3WX0C","user":{"uid":"58F26PHHLFEB","username":"<AMEE_V2_API_KEY>"},"modified":"2012-01-19
        02:28:12.0"},{"uid":"7FQIICXECJ0Y","environment":{"uid":"5F5887BCF726"},"created":"2012-01-12
        22:57:58.0","name":"7FQIICXECJ0Y","path":"7FQIICXECJ0Y","user":{"uid":"58F26PHHLFEB","username":"<AMEE_V2_API_KEY>"},"modified":"2012-01-12
        22:57:58.0"},{"uid":"DTTDCGBH0U8J","environment":{"uid":"5F5887BCF726"},"created":"2012-01-12
        21:57:40.0","name":"DTTDCGBH0U8J","path":"DTTDCGBH0U8J","user":{"uid":"58F26PHHLFEB","username":"<AMEE_V2_API_KEY>"},"modified":[...]
