---
http_interactions:
- request:
    method: post
    uri: https://stage.amee.com/auth/signIn
    body:
      encoding: UTF-8
      string: username=<AMEE_V1_API_KEY>&password=<AMEE_V1_PASSWORD>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 28 Nov 2011 01:09:43 GMT
      Content-Type:
      - application/xml; charset=UTF-8
      Authtoken:
      - P64d2f4ShBeIqRrN7uVptSD7jHB2qUPVWxJv4DEuc8oKeYSO3MklQepEbB1TZYE38hHM5XhWOyOsP7ogMsz1z2DyJeIXAUJdLXYcar4Cdbc=
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="no"?><Resources><SignInResource><Next>/auth</Next><User
        uid="ZMNP71Y06QFH"><Status>ACTIVE</Status><Type>STANDARD</Type><ApiVersion>1.0</ApiVersion><Locale>en_GB</Locale><TimeZone>UTC</TimeZone></User></SignInResource></Resources>
  recorded_at: Fri, 03 Apr 2015 12:11:33 GMT
- request:
    method: post
    uri: https://stage.amee.com/auth/signIn
    body:
      encoding: UTF-8
      string: username=<AMEE_V1_API_KEY>&password=<AMEE_V1_PASSWORD>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 12 Jan 2012 22:40:34 GMT
      Content-Type:
      - application/xml; charset=UTF-8
      Authtoken:
      - FKcQNc0p0zYLGePVkhCv7t2FIt8hhTf7ofv8EEvIESAP7KGDCsMOtLYvxcR5qHv3qvgaYTiTuXG/1W8t6CrfigoGsD6SUk5KTQn6ocULcno=
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="no"?><Resources><SignInResource><Next>/auth</Next><User
        uid="ZMNP71Y06QFH"><Status>ACTIVE</Status><Type>STANDARD</Type><ApiVersion>1.0</ApiVersion><Locale>en_GB</Locale><TimeZone>UTC</TimeZone></User></SignInResource></Resources>
  recorded_at: Fri, 03 Apr 2015 12:11:33 GMT
recorded_with: VCR 2.9.3
