---
http_interactions:
- request:
    method: post
    uri: https://stage.amee.com/auth/signIn
    body:
      encoding: UTF-8
      string: username=<AMEE_V3_API_KEY>&password=<AMEE_V3_PASSWORD>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 28 Nov 2011 23:36:20 GMT
      Content-Type:
      - application/xml; charset=UTF-8
      Authtoken:
      - Q+Ai7HxLVb86a5p1VbY4zMFJM5ML6Zc/iyu0gIHc1/HWeJQgVOPNTOTvAIrnN1WH3RKD0ktGN92ro+fDpltQKplp4bk2QjZIwpOvmx2GXbo=
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="no"?><Resources><SignInResource><Next>/auth</Next><User
        uid="9D376C97D76F"><Status>ACTIVE</Status><Type>STANDARD</Type><ApiVersion>2.0</ApiVersion><Locale>en_GB</Locale><TimeZone>Europe/London</TimeZone></User></SignInResource></Resources>
  recorded_at: Fri, 03 Apr 2015 12:11:33 GMT
recorded_with: VCR 2.9.3
