---
http_interactions:
- request:
    method: post
    uri: https://platform-api-stage.amee.com/3/categories/039DCB9BA67D/items
    body:
      encoding: UTF-8
      string: values.question=1322523903
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/xml
      Www-Authenticate:
      - Basic realm="AMEE Platform API"
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="no"?><Resources><Status><Code>401</Code><Name>Unauthorized</Name><Description>The
        request requires user authentication</Description><URI>http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2</URI></Status></Resources>
  recorded_at: Fri, 03 Apr 2015 12:11:33 GMT
- request:
    method: post
    uri: https://<AMEE_V3_API_KEY>:<AMEE_V3_PASSWORD>@platform-api-stage.amee.com:443/3/categories/039DCB9BA67D/items
    body:
      encoding: UTF-8
      string: values.question=1322524956
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://platform-api-stage.amee.com/3.6.0/categories/039DCB9BA67D/items/XZPAW1QW5NLK
      Content-Type:
      - text/plain
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Fri, 03 Apr 2015 12:11:33 GMT
recorded_with: VCR 2.9.3
