---
http_interactions:
- request:
    method: get
    uri: https://stage.amee.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 406
      message: Not Acceptable
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ! '{"status":{"description":"The resource identified by the request
        is only capable of generating response entities which have content characteristics
        not acceptable according to the accept headers sent in the request","name":"Not
        Acceptable","code":406,"uri":"http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7"}}'
  recorded_at: Fri, 03 Apr 2015 12:11:33 GMT
recorded_with: VCR 2.9.3
