---
http_interactions:
- request:
    method: post
    uri: https://stage.amee.com/auth/signIn
    body:
      encoding: UTF-8
      string: username=<AMEE_V2_API_KEY>&password=<AMEE_V2_PASSWORD>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 29 Nov 2011 01:13:17 GMT
      Content-Type:
      - application/xml; charset=UTF-8
      Authtoken:
      - /0ofRZmnfXmNbI9NOWg5uGZVX6nP7DFKDSeOUuVGhASi0NxWpogmzumJHmHi8YuNKEKYAD0qOiNJcq8R5vncNvJiW0Vtzn3IYEDvt+wYkGY=
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="no"?><Resources><SignInResource><Next>/auth</Next><User
        uid="58F26PHHLFEB"><Status>ACTIVE</Status><Type>STANDARD</Type><ApiVersion>2.0</ApiVersion><Locale>en_GB</Locale><TimeZone>UTC</TimeZone></User></SignInResource></Resources>
  recorded_at: Fri, 03 Apr 2015 12:11:33 GMT
recorded_with: VCR 2.9.3
